#blog_content {
  display: grid;
  height: 100vh;
  /* margin: 0 auto; */
  grid-template-rows: 1fr auto;
  grid-gap: 1rem;
}

#video{
  /* color: white;
  background-color: rgb(0, 0, 0); */
}

#all_posts{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  
}
#all_posts a{
  margin: 0.2rem 0.08rem;
  flex: 1 1 11rem;
  /*max-height: 11rem;
  max-width: 11rem; */
  background-color: black;
  
}

#all_posts a img {
  width: 100%;
  height: auto;
}


