:root{
  --pic_height_PC: 25rem;
  --pic_height_SP: 15rem;
}

#blog_content {
  display: grid;
  /* height: 100vh; */
  /* margin: 0 auto; */
  /* grid-template-rows: minmax(0, 1fr) auto; */
  grid-template-rows: var(--pic_height_PC) auto;
  gap: 0.08rem;
}

#slide{
  display: flex;
  position: relative;
  /* flex: 1; */
  justify-items: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  /* max-height: 30em; */
}

.photo{
  display: none;
}

.photo a img{
  display: flex;
  /* max-width: var(--max_body_width); */
  max-width: 100%;
  min-height: var(--pic_height_PC);
  /* height: 100%; */
  /* object-fit: cover; */
  /* object-fit: contain; */
}

.img-title {
  position: absolute;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 0.5rem;
  background-color: rgba(29, 29, 29, 0.5);
  color: rgb(255, 255, 255);
}

#all_posts{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  /* align-items: center; */
}

#all_posts a{
  margin: 0.08rem 0.08rem;
  flex: 1 1 11rem;
  /*max-height: 11rem;
  max-width: 11rem; */
  background-color: black;
}

#all_posts a img {
  width: 100%;
  height: auto;
}

#all_posts a p {
  /* text-align: justify; */
  width: 100%;
}

@media only screen and (max-width:680px) {
  #blog_content {
    grid-template-rows: var(--pic_height_SP) auto;
  }
  .photo a img{
    min-height: var(--pic_height_SP);
  }
  .img-title {
    font-size: 1rem;
  }  
}


