:root{
  --pic_height_PC: 25rem;
  --pic_height_SP: 15rem;
}

#blog_content {
  display: grid;
  /* height: calc(100vh - var(--nav_size)); */
  height: 100%;
  /* margin: 0 auto; */
  /* grid-template-rows: minmax(0, 1fr) auto; */
  grid-template-columns: 0.75fr auto;
  grid-template-areas: "post side";
  gap: 0.08rem;
}

.photo{
  display: none;
}


#post{
  /*position: relative;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden; */
  grid-area: post;
  background-color: #8ca0ff;
  /* align-items: center; */
}

#side{
  min-width: 20px;
  grid-area: side;
  background-color: #ffa08c;
}

#post p{
  width: 100%;
  /* text-align: justify; */
  font-size: 30px;
  color: black;
}

#post a{
  margin: 0.08rem 0.08rem;
  flex: 1 1 11rem;
  /*max-height: 11rem;
  max-width: 11rem; */
  /* background-color: black; */
}

#post img {
  width: 100%;
  /* height: auto; */
}

@media only screen and (max-width:680px) {
  #blog_content {
    display: flex
  }
  #side{
    display: none;
  }
}


