:root{
  --pic_height_PC: 25rem;
  --pic_height_SP: 15rem;
}

#blog_content {
  display: grid;
  /* height: calc(100vh - var(--nav_size)); */
  height: 100%;
  /* margin: 0 auto; */
  /* grid-template-rows: minmax(0, 1fr) auto; */
  grid-template-columns: 0.75fr 0.25fr;
  grid-template-areas: "post side";
  gap: 0.08rem;
}

#post{
  margin-top: 5px;
  /* position: relative; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* overflow: hidden; */
  grid-area: post;
  /* background-color: #8ca0ff; */
  /* align-items: center; */
}

#side{
  /* display: flex; */
  /* max-width: 200px; */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
  align-items: flex-start;
  align-content: flex-start;
  gap: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  min-width: 2rem;
  grid-area: side;
  overflow: hidden;
  
}
#side div{
  background-color: black;
  padding: 0.3rem;
}

#side img{
  max-width: 100%;
}

#side a{
  color: white;
}

#post p{
  width: 100%;
  text-align: justify;
  text-align-last:left;
  font-size: 20px;
  color: black;
}

#post a{
  margin: 0.08rem 0.08rem;
  flex: 1 1 11rem;
  /*max-height: 11rem;
  max-width: 11rem; */
  /* background-color: black; */
}

#post img {
  /* margin-left: 15%; */
  width: 100%; 
  /* height: auto; */
}

@media only screen and (max-width:680px) {
  #blog_content {
    display: flex
  }
  #side{
    display: none;
  }
}


