/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap'); */

:root{
  --nav_size: 3.8rem;
  --body_width: 1200px;
}

* {
  box-sizing: border-box;

}

@font-face {
  font-family: 'LuzSans-Book';
  src: local('LuzSans-Book'),
       url('../fonts/LUZRO.TTF') format("truetype");
}

html {
  
  /* font-family: 'Open Sans', 'Lato', sans-serif; */
  font-family: 'LuzSans-Book';
}

.margin-limit {
  max-width: var(--body_width);
  padding: 0% 3%;
  margin-left: auto;
  margin-right: auto;
} 

/* h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
} */

#header-area {
  width: 100%;
  height: var(--nav_size);
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
}

header {
  height: var(--nav_size);
  display: grid;
  /* grid-template-columns: 0.8fr 1fr 0.8fr;
  grid-template-areas: "socials-links-area title-area nav-area"; */
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title-area nav-area";
  /* grid-template-rows: minmax(0, 1fr); */
  /* grid-gap: 0.35rem; */
  font-family:'LuzSans-Book';
}

/* #main-navigation *{
  max-width: var(--body_width);
  padding: 0% 3%;
  margin-left: auto;
  margin-right: auto;

} */

#title-area {
  grid-area: title-area;
  /* background-color: rgb(182, 0, 0); */
  font-size: 2.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap; /*Não quebrar linha*/
  word-spacing: 0.28rem; /* Espaço entre palavras */
}

#nav-area {
  grid-area: nav-area;
  /* background-color: orange; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#socials-links-area {
  grid-area: socials-links-area;
  /* background-color: blue; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

header a{
  /*padding-inline: 3%;*/ /*Espaço vertical entre os elementos*/
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#nav-area a{
  font-weight: normal;  
  color: #3bb7ff;
  font-weight: bold;
  /* word-spacing: 0.28rem; */
}

#nav-area a:hover,
#nav-area a:active {
  color: #ffffff;
  font-weight: bolder;
}

#contents {
  margin-top: var(--nav_size); /* Add a top margin to avoid
   content overlay */
}

/* #title:hover,
#title:active {
  font-weight: normal;
  transform: scale(1.005);
} */

/* #main-navigation h1 a:hover,
#main-navigation h1 a:active {

} */

/* #image {
  vertical-align: middle;
}

#image:hover,
#image:active {
  transform: scale(1.005);
} */

