/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap'); */

:root{
  --nav_size: 3.8rem;
  --max_body_width: 1200px;
}

* {
  box-sizing: border-box;
  margin:0; /* Espaço entre elementos (ex. entre <p>)*/
  padding:0; /* Margem mínima das bordas do navegador */
}

@font-face {
  font-family: 'LuzSans-Book';
  src: local('LuzSans-Book'),
       url('../fonts/LUZRO.TTF') format("truetype");
}

html {
  
  /* font-family: 'Open Sans', 'Lato', sans-serif; */
  font-family: 'LuzSans-Book';
}

.margin-limit {
  max-width: var(--max_body_width);
  padding-inline: 3%;
  margin-inline: auto;
} 

/* h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
} */

#nav-area{
  display: flex;
}

#header-area {
  width: 100%;
  height: var(--nav_size);
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
}

header {
  height: var(--nav_size);
  display: flex;
  /* padding-inline: 3%; */
  justify-content: space-between; /* Alinhamento horizontal*/
  align-items: center; /* Alinhamento vertical */
  font-family:'LuzSans-Book';
}

/* #main-navigation *{
  max-width: var(--max_body_width);
  padding: 0% 3%;
  margin-left: auto;
  margin-right: auto;

} */

#title {
  /* background-color: rgb(182, 0, 0); */
  font-size: 2.2rem;
  word-spacing: 0.28rem; /* Distância do espaço entre palavras */
  white-space: nowrap; /* Sem quebra de linha */
}

/* #socials-links-area {
  grid-area: socials-links-area;
  background-color: blue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}*/

header a{
  /*padding-inline: 3%;*/ /*Espaço vertical entre os elementos*/
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#nav-area a{
  padding-left: 1.5rem;
  /* background-color: rgb(158, 0, 0); */
  font-weight: normal;  
  color: #3bb7ff;
  font-weight: bold;
  /* word-spacing: 0.28rem; */
}

#nav-area a:hover,
#nav-area a:active {
  color: #ffffff;
  font-weight: bolder;
}

#contents {
  margin-top: var(--nav_size); /* Avoid content overlay */
}

/* #title:hover,
#title:active {
  font-weight: normal;
  transform: scale(1.005);
} */

/* #main-navigation h1 a:hover,
#main-navigation h1 a:active {

} */

/* #image {
  vertical-align: middle;
}

#image:hover,
#image:active {
  transform: scale(1.005);
} */

