@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

:root{
  --nav_size: 3.8rem;
  --body_width: 1200px;
}

* {
  box-sizing: border-box;

}

@font-face {
  font-family: 'LuzSans-Book';
  src: local('LuzSans-Book'),
       url('../fonts/LUZRO.TTF') format("truetype");
}

html {
  
  /* font-family: 'Open Sans', 'Lato', sans-serif; */
  font-family: 'LuzSans-Book';
}

body {
  max-width: var(--body_width);
  padding: 0% 3%;
  margin-left: auto;
  margin-right: auto;
}

/* h1,
h2,
h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
} */

#main-navigation {
  width: 100%;
  height: var(--nav_size);
  /* padding: 0% 3%; */
  padding: 0%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  font-family:'LuzSans-Book';
}

#main-navigation *{
  max-width: var(--body_width);
  padding: 0% 3%;
  margin-left: auto;
  margin-right: auto;

}

#main-navigation a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#title {
  padding-top: 0.3rem;
  display: flex;
  padding-right: 5rem;
  padding-left: 1.5rem;
  /* align-items: center; */
  justify-content: left;
  font-weight: normal;
  word-spacing: 0.28rem;
  
}

#nav {
  padding-top: 0.6rem;
  display: flex;
  /* max-width: var(--body_width); */
  justify-content: center;
  word-spacing: 0.28rem;
}

#nav a{
  /* display: inline-block; */
  /* position: relative; */
  font-weight: normal;
  padding-inline: 1rem;
  color: #3bb7ff;
  font-weight: bold;
}

#nav a:hover,
#nav a:active {
  color: #ffffff;
  font-weight: bolder;
}

#contents {
  margin-top: var(--nav_size); /* Add a top margin to avoid content overlay */
}

/* #title:hover,
#title:active {
  font-weight: normal;
  transform: scale(1.005);
} */

/* #main-navigation h1 a:hover,
#main-navigation h1 a:active {

} */

/* #image {
  vertical-align: middle;
}

#image:hover,
#image:active {
  transform: scale(1.005);
} */

