{% extends 'base.html' %}
{% load static %}


{% block title %}QDM | STUDIOS{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock css_files %}

{% block content %}
<div id="blog_content">
    <section id='slide'>
        <a href="" class="photo"><img src="{% static 'blog/images/post1.jpg' %}" alt=""></a>
        <a href="" class="photo"><img src="{% static 'blog/images/post2.png' %}" alt=""></a>
        <a href="" class="photo"><img src="{% static 'blog/images/post3.JPG' %}" alt=""></a>
    </section>
    <section id='all_posts'>
        <a href=""><img src="{% static 'blog/images/post1.jpg' %}" alt="{{title|safe}},{{datetime|safe}}">
            <p>{{text|safe|truncatewords:10}}</p>
        </a>
        <a href=""><img src="{% static 'blog/images/post2.png' %}" alt="{{title|safe}},{{datetime|safe}}">
            <p>{{text|safe|truncatewords:10}}</p>
        </a>
        <a href=""><img src="{% static 'blog/images/post3.JPG' %}" alt="{{title|safe}},{{datetime|safe}}">
            <p>{{text|safe|truncatewords:10}}</p>
        </a>
    </section>


</div>
{% endblock content %}