{% extends 'base.html' %}
{% load static %}


{% block title %}QDM|STUDIOS{% endblock title %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock css_files %}
{% block content %}
<h1>ewewe</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
<h1>asdasdasdasdasd</h1>
{% endblock content %}