{% extends 'base.html' %}
{% load static %}


{% block title %}QDM | STUDIOS{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock css_files %}

{% block content %}
<div id="blog_content">
    <div id='video'>Vídeo</div>
    <div id='all_posts'>
        <a href=""><img src="blog/images/post1.jpg" alt="{{title|safe}},{{datetime|safe}}"><p>{{text|safe|slice:":65"}}</p></a>
        <a href="">{{title|safe}}, {{datetime|safe}}<p>{{text|safe|slice:":65"}}</p></a>
        <a href="">{{title|safe}}, {{datetime|safe}}<p>{{text|safe|slice:":65"}}</p></a>
        <a href="">{{title|safe}}, {{datetime|safe}}<p>{{text|safe|slice:":85"}}</p></a>

    </div>


</div>
{% endblock content %}