{% extends 'base.html' %}
{% load static %}


{% block title %}QDM | STUDIOS{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}">
{% endblock css_files %}

{% block content %}
<div id="blog_content">
    <section id='post'>
        <div>{{post.text|safe}}</div>
    </section>
    <section id='side'>
        <div>side</div>
    </section>
</div>

<script>
    //var images = document.getElementsByClassName("photo");
    var images = document.querySelectorAll(".photo");
    var delay_image = 3000;
    var counter = 0;
    images[counter].style.display = "flex";
    setInterval(next_image, delay_image);

    function next_image() {
        //for (counter = 0; counter < images.length; counter++;) {
        //    images[counter].style.display = "none";
        //}
        images[counter].style.display = "none";
        counter = (counter + 1) % images.length;
        images[counter].style.display = "flex";
    }
</script>
{% endblock content %}