{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {% block css_files %}{% endblock css_files %}
</head>

<body>
    <header id="main-navigation">
    {% comment %} <div id="bar"> {% endcomment %}
        <h1><a id="title" href="">QDM l STUDIOS</a></h1>
        {% comment %} <h1><a href=""><img id="image" src="{% static 'images/qdm_logo_hor.png' %}" alt="QDM STUDIOS"></a></h1> {% endcomment %}
        <nav id="nav" role="navigation">
            <a href="\contato">CONTATO</a>
            <a href="\sobre">SOBRE</a>
            <a href="\sobre">SOBRE</a>
            <a href="\sobre">SOBRE</a>
            <a href="\sobre">SOBRE</a>
            <a href="\sobre">SOtrrrrrrrrrrrrrrrrrBRE</a>
            <a href="\sobre">SOtrrrrrrrrrrrrrrrrrBRE</a>
            <a href="\sobre">SOtrrrrrrrrrrrrrrrrrBRE</a>

        </nav>

    {% comment %} </div> {% endcomment %}
    </header>
    <div id="contents">
        {% block content %}{% endblock content %}
    </div>
</body>

</html>